body{
    background-color: #00539f;
    font-family: 'Nunito', sans-serif;
    overflow-y: auto;
    color: #ffd200;
}

.title {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 64px;
    width: 100%;
    height: 100px;
    text-align: center;
    border-style: solid;
    border-top-color: #00539f;
    border-left-color: #00539f;
    border-right-color: #00539f;
    border-bottom-color: #ffd200;
    border-width: 5px;
}

.problem-container {
    position: absolute;
    width: 63%;
    height: 80%;
    left: 50%;
    top: 57%;
    background-color: #ffd200;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-radius: 16px;
    border-width: 3px;
}

.problem-title {
    position: relative;
    top: 5%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: #00539f;
}

.image {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 25%;
    width: 90%;
    height: 50%;
    border-radius: 8px;
    color: #00539f;
    border-style: solid;
    border-color: #00539f;
    border-width: 2px;
}

.description {
    position: relative;
    font-size: 24px;
    width: 90%;
    left: 5%;
    top: 0%;
    text-align: center;
    color: #00539f;
}

.solution {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 50px;
    border-radius: 8px;
    top: 5%;
    font-size: 24px;
    color: #ffd200;
    background-color: #00539f;
}

.solution:hover {
    cursor: pointer;
    background-color: #003c71;
}

@media (max-width: 1150px){
    .problem-container {
        height: 70%;
    }

    .image {
        position: relative;
        height: 35%;
        top: 20%;
    }

    .problem-title {
        font-size: 38px;
    }

    .description {
        position: relative;
        font-size: 24px;
        top: 5%;
    }

    .solution {
        position: relative;
        width: 200px;
        height: 50px;
        top: 10%;
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .problem-container {
        height: 60%;
        width: 80%;
    }

    .image {
        position: relative;
        height: 30%;
        top: 20%;
    }

    .problem-title {
        font-size: 30px;
    }

    .description {
        position: relative;
        font-size: 20px;
        top: 5%;
    }

    .solution {
        position: relative;
        width: 200px;
        height: 50px;
        top: 10%;
        font-size: 20px;
    }
}

@media (orientation: portrait) {
    .problem-container {
        height: 60%;
        width: 80%;
    }

    .image {
        position: relative;
        height: 30%;
        width: 90%;
        top: 30%;
    }

    .problem-title {
        font-size: 20px;
    }

    .description {
        position: relative;
        font-size: 12px;
        top: 10%;
    }

    .solution {
        position: relative;
        width: 100px;
        height: 25px;
        top: 20%;
        font-size: 12px;
    }
}